<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
         bootstrap="./vendor/autoload.php">
    <php>
        <env name="SDK_ENV" value="local"/>
        <env name="SDK_TOKEN" value="49DE1CC04C7894A2BE7F6CA9C6571F30654153EA"/>
        <env name="SDK_PROCESSOR_ID" value="baa6ca8a-91eb-40fe-b9bf-7839ad021b12"/>
    </php>
    <testsuites>
        <testsuite name="PayCertify SDK Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist>
          	<directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>

